<header>
    <img src="/assets/images/tavyzazageha2.png" width="130" height="100" alt="Oh no! it failed to load. Don't worry, it wasn't too important, just the Tavȳza logo.">
    <br />
    <div class="navbar">
        <a href="/"></a>
        <a href="/os.html"></a>
        <a href="/karledhen.html"></a>
        <a href="/tavyza-jo.html"> </a>
        <a href="/ryhamen.html"></a>
        <a href="/kathmon/"></a>
    </div>
</header>
<style>
    @font-face {
    font-family: "Yrigakesha";
    src: url("/assets/fonts/Yrigakesha.otf") format("opentype");
    }
    * {
        font-family: "yrigakesha";
    }
    @media (max-width: 500px) {
        header {
            width: 100%;
            text-align: center;
            background-image: linear-gradient(
                135deg,
                #2e2e2e 50%,
                #282828 50%,
                #2e2e2e 100%
            );
            background-size: 10px 10px;
            border: solid 3px;
            border-color: #3c3c3c #1a1a1a #1a1a1a #3c3c3c;
            border-radius: 1em 1em 0 0;
        }
    }
    @media (min-width: 501px) {
        header {
        position:relative;
        left:25%;
        width: 50%;
        text-align: center;
        background-image: linear-gradient(
            135deg,
            #2e2e2e 50%,
            #282828 50%,
            #2e2e2e 100%
        );
        background-size: 10px 10px;
        border: solid 3px;
        border-color: #3c3c3c #1a1a1a #1a1a1a #3c3c3c;
        border-radius: 1em 1em 0 0;
    }
    }
    

    header hr {
        margin: auto;
    }

    header #title {
        display: inline-block;
        box-sizing: content-box;
        font-weight: 700;
        height: 50px;
        padding: 3px 6px 3px 3px;
        border: solid 3px;
        background-color: #4a0d09;
        border-color: #1a1a1a #3c3c3c #3c3c3c #1a1a1a;
        margin-bottom: 0.5em;
        border-radius: 0.5em;
    }

    header #title * {
        font-weight: 700;
        height: 30px;
        line-height: 50px;
        margin: 0;
        display: inline-block;
        vertical-align: top;
        color: #d0932c;
        text-shadow: 1px 1px 1px #124754, 2px 2px 1px #124754,
            3px 3px 1px #124754, 4px 4px 1px #124754, 5px 5px 1px #124754,
            6px 6px 1px #124754;
    }

    header a {
        color: #d0932c;
        padding: 7px;
        text-shadow: 2px 2px 0 #222;
    }

    header a:hover {
        color: white;
        background-color: #d0932c;
    }

    .navbar {
        background-color: #282828;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border: solid 3px;
        border-color: #1a1a1a #3c3c3c #3c3c3c #1a1a1a;
    }
</style>
