
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "Yrigakesha";
    src: url("/assets/fonts/Yrigakesha.otf") format("opentype");
}

* {
    font-family: "Yrigakesha", "Helvetica", sans-serif; /* Yrigakesha first, then Noto Sans, and then a generic sans-serif */
    line-height: 2em;
    color: white;
}
html, body {
    height: 100%;   
    margin: 0;
}
.main {
    background-color: #232328;
    background-image: url("assets/images/space.png");
    min-height: 100%;
    background-size:150%;
}
a {
    color: #3056b8;
}
.nav {
    background-color: transparent;
    overflow: hidden;
    margin-left: 25%;
    width: 50%;
    background-color: #333;
}
@media (max-width: 500px) {
    .content {
        background-color: #232328;
        width: 100%;
        height: auto;
        padding-top: 2%;
        padding-left: 10px;
        position:relative;
        right:5px;
        border: solid 3px;
        border-color: #3c3c3c #1a1a1a #1a1a1a #3c3c3c;
        border-radius: 1em 1em 0 0;   
    }
}
@media (min-width: 501px) {
    .content {
        background-color: #232328;
        width: 50%;
        height: auto;
        padding-top: 2%;
        padding-left: 10px;
        margin-left: 25%;
        position:relative;
        right: 6px;
        border: solid 3px;
        border-color: #3c3c3c #1a1a1a #1a1a1a #3c3c3c;
        border-radius: 1em 1em 0 0;   
    }
}

.contact {
    width: 100%;
    align-self: baseline;
    height: 100px;
    background-color: #333;
}
.input[type=text] {
    float: right;
    background-color: #282828;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}